{% extends 'base.html' %}

{% block content %}
    <div>
        <form action="{{team.url}}" method="POST">
            <div class="right_top_actions">
                <button class="svg-btn" type="submit"><img title="Speichern" src="{{ url_for('static',filename='images/icons/326572_check.svg') }}" /></button>
                <a href="/teams"><img class="svg-btn" title="Abbrechen" src="{{ url_for('static',filename='images/icons/326579_close.svg') }}" /></a>
            </div>
            <div class="content-table">
                <table class="team-new" class="content-table">
                    <tr>
                        <td>
                            <label for="name">Name:</label>
                            <input type="text" name="name" id="name" value="{{team.name}}" required/>
                        </td>
                        <td>
                            <label for="lead">Leitung:</label>
                            <select name="lead" id="lead" required>
                                {% for user in team.lead %}
                                <option value="{{user.id}}" {{user.selected}}>{{user.name}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <label for="colead">Vertreter:</label>
                            <select name="colead" id="colead" required>
                                {% for user in team.colead %}
                                <option value="{{user.id}}" {{user.selected}}>{{user.name}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="warning">Warnung:</label>
                            <input type="number" name="warning" id="warning" min="0" step="1" oninput="this.value = Math.round(this.value);" value="{{team.warning}}" required/>
                        </td>
                        <td>
                            <label for="min">Min:</label>
                            <input type="number" name="min" id="min" min="0" step="1" oninput="this.value = Math.round(this.value);" value="{{team.min}}" required/>
                        </td>
                        <td>
                            <label for="max">Max:</label>
                            <input type="number" name="max" id="max" min="0" step="1" oninput="this.value = Math.round(this.value);" value="{{team.max}}" required/>
                        </td>
                    </tr>
                    {% if team.showmemberclass == True %}
                    <tr>
                        <td colspan="3">
                            <label for="member">Mitglieder:</label>
                            <!-- https://www.jqueryscript.net/form/multi-select-filter-checkbox.html -->
                            <select multiple name="member" id="member" required>
                                {% for user in team.member %}
                                <option value="{{user.id}}" {{user.selected}}>{{user.name}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </form>
    </div>
    <script>
        $('#member').multiSelect();
    </script>
{% endblock %}